[submodule "third_party/wire"]
	path = third_party/wire
	url = https://github.com/snail23/wire.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/snail23/rapidjson.git
