[submodule "third_party/wire"]
	path = third_party/wire
	url = https://github.com/snail23/wire.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/snail23/rapidjson.git
[submodule "third_party/sand"]
	path = third_party/sand
	url = https://github.com/snail23/sand.git
[submodule "third_party/apathy"]
	path = third_party/apathy
	url = https://github.com/snail23/apathy.git
[submodule "third_party/metrics"]
	path = third_party/metrics
	url = https://github.com/snail23/metrics.git
[submodule "third_party/flow"]
	path = third_party/flow
	url = https://github.com/snail23/flow.git
[submodule "third_party/cocoa"]
	path = third_party/cocoa
	url = https://github.com/snail23/cocoa.git
[submodule "third_party/profit"]
	path = third_party/profit
	url = https://github.com/snail23/profit.git
[submodule "third_party/bundler"]
	path = third_party/bundler
	url = https://github.com/snail23/bundler.git
[submodule "third_party/bundle"]
	path = third_party/bundle
	url = https://github.com/snail23/bundle.git
[submodule "third_party/bubble"]
	path = third_party/bubble
	url = http://github.com/snail23/bubble.git
[submodule "third_party/sole"]
	path = third_party/sole
	url = https://github.com/snail23/sole.git
[submodule "third_party/base91"]
	path = third_party/base91
	url = https://github.com/snail23/base91.git
[submodule "third_party/eval"]
	path = third_party/eval
	url = https://github.com/snail23/eval.git
[submodule "third_party/heal"]
	path = third_party/heal
	url = https://github.com/snail23/heal.git
[submodule "third_party/entity"]
	path = third_party/entity
	url = https://github.com/snail23/entity.git
[submodule "third_party/safe_event"]
	path = third_party/safe_event
	url = https://github.com/snail23/safe_event.git
